html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    height:100%;
}

.w-85{
    width:85%;
}

.w-90 {
    width: 85%;
}

.w-30 {
    width: 30%;
}

.b-size {
    height: calc(100% - 10em);
}

.heigth-inherit{
    height:inherit;
}

