@page
@model RegisterModel
@{
    ViewData["Title"] = "Реєстрація";
}



<div class="d-flex flex-column text-center">
    <h1 class="d-block">@ViewData["Title"]</h1>
    <div style="max-width:30%;min-width:300px;" class="align-self-center">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Створити новий акаунт.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control"  aria-required="true" placeholder="Ваше ім'я" />
                <label asp-for="Input.Name">Ім'я</label>
                <span asp-validation-for="Input.Name"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Surname" class="form-control" aria-required="true" placeholder="Ваше прізвище" />
                <label asp-for="Input.Surname">Прізвище</label>
                <span asp-validation-for="Input.Surname" ></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Birthdate" class="form-control" autocomplete="birthdate" aria-required="true" />
                <label asp-for="Input.Birthdate">Дата народження</label>
                <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Пароль</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Підтвердіть пароль</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Зареєструватися</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
