@inject IConfiguration Configuration

@model IEnumerable<AdvertDto>

@{
	ViewData["Title"] = "Всі oголошення";
}

<div class="d-flex  gap-2 justify-content-between p-2 bg-light">
	<div class="input-group">
		<div class="input-group-text material-icons" id="btnGroupAddon">search</div>
		<input type="text" class="form-control" id="find-str" placeholder="Що шукаєте?">
	</div>
	<div class="input-group">
		<span class="material-icons input-group-text" id="basic-addon1">room</span>
		<select class="form-select" id="find-city">
			<option default>Всі міста</option>
			@foreach (var item in ViewBag.Cities)
			{
				<option default>@item.Name</option>
			}
		</select>
	</div>
	<button class="btn btn-outline-success me-2" id="find-button" type="button">Знайти</button>
</div>
<div class=" d-flex  gap-2  p-2 bg-light">
	<div class="input-group">
		<div class="input-group-text material-icons" id="category">category</div>
		<select id="filter-category" class="form-select">
			<option default>Всі категорії</option>
			@foreach (var item in ViewBag.Categories)
			{
				<option default>@item.Name</option>
			}
		</select>
	</div>
	<div class="input-group">
		<span class="input-group-text">Ціна</span>
		<input type="number" class="form-control" id="price-from" placeholder="від">
		<input type="number" class="form-control" id="price-to" placeholder="до">
	</div>
	<div class="btn-group" role="group">
		<input type="radio" class="btn-check" name="btnradio" value="all" id="all" autocomplete="off" checked>
		<label class="btn btn-outline-primary" for="all">Все</label>
		<input type="radio" class="btn-check" name="btnradio" value="new" id="new" autocomplete="off">
		<label class="btn btn-outline-primary" for="new">Нове</label>
		<input type="radio" class="btn-check" name="btnradio" value="used" id="used" autocomplete="off">
		<label class="btn btn-outline-primary" for="used">Вживане</label>
	</div>
	<button class="btn btn-outline-success me-2" id="confirm-filter" type="button">Застосувати</button>
</div>
<div class="d-flex justify-content-between my-2">
	<h3 id="count-header" class="mb-3"></h3>
	<div class="d-flex gap-2">
		<button data-bs-toggle="dropdown" class="material-icons mb-3 btn btn-info dropdown-toggle">filter_alt</button>
		<button id="list-show" class="material-icons mb-3 btn btn-info">list</button>
		<button id="module-show" class="material-icons mb-3 btn btn-info">view_module</button>
		<ul class="dropdown-menu" aria-labelledby="sort-button">
			<li><a class="dropdown-item" id="title-sort" href="#">Заголовок</a></li>
			<li><a class="dropdown-item" id="date-sort" href="#">Дата</a></li>
		</ul>
	</div>
</div>
<div id="content"></div>
@section Scripts {
	@{
		 //<script src="~/js/home_script.js"></script>
		<script>
									 	
											

			$storage = window.sessionStorage;
			$count_header = $('#count-header');
			$content = $('#content');

			if (!$storage.getItem("Partial")) {
				$storage.setItem("Partial", "_ShowAdvertsPartial");
				$storage.setItem("FindCity", "Всі міста");
				$storage.setItem("FindStr", "");
				resetFilter();
			}

			load();



			$('#confirm-filter').click(() => {
				$category = $('#filter-category').val();
				$state = $('input[name=btnradio]:checked').val();
				$price_from = $('#price-from').val();
				$price_to = $('#price-to').val();
				$storage.setItem("Category", $category);
				$storage.setItem("State", $state);
				$storage.setItem("PriceFrom", $price_from);
				$storage.setItem("PriceTo", $price_to);
				setContent($partial);
			});

			$('#list-show').click(() => setContent("_ShowAdvertsPartial"));

			$('#module-show').click(() => setContent("_ShowAdvertsDashboardPartial"));

			$('#title-sort').click(() => {
				$sort = "title";
				setContent($partial);
			});

			$('#date-sort').click(() => {
				$sort = "date";
				setContent($partial);
			});

			$('#find-button').click(() => {

				$storage.setItem("FindStr", $('#find-str').val());
				$storage.setItem("FindCity", $('#find-city').val());
				resetFilter();
				load();
			});

			function resetFilter() {
				$storage.setItem("Category", "Всі категорії");
				$storage.setItem("State", "all");
				$storage.setItem("PriceFrom", '');
				$storage.setItem("PriceTo", '');
			}

			function load() {
				$find_str = $storage.getItem("FindStr");
				$find_city = $storage.getItem("FindCity");
				$sort = $storage.getItem("Sort");
				$partial = $storage.getItem("Partial");
				$category = $storage.getItem("Category");
				$state = $storage.getItem("State");
				$price_from = $storage.getItem("PriceFrom");
				$price_to = $storage.getItem("PriceTo");
				$('#filter-category').val($category);
				$(`input:radio[id=${$state}]`).prop('checked', true);
				$('#price-from').val($price_from);
				$('#price-to').val($price_to);
				$('#find-str').val($find_str);
				$('#find-city').val($find_city);
				setContent($partial);
			}

			function setContent(partial) {
				$partial = partial;
				$storage.setItem("Partial", partial);
				$storage.setItem("Sort", $sort);

				$.get(`/Home/AdvertPartial?partial=${partial}&sort=${$sort}&category=${$category}&state=${$state}&from=${$price_from}&to=${$price_to}&find=${$find_str}&fcity=${$find_city}`).done((res) => {
					$content.empty();
					$content.html(res);
					$el_count = $('#element-count').val();
					$count_header.text($el_count == 0 ? "Не знайдено жодного оголошення" : $el_count < 5 ? `Знайдено ${$el_count} оголошеня` : `Знайдено ${$el_count} оголошень`)
					//$('[name = favourite]').click(setFavourite);
				}).fail((info) => console.info(info.responseText));
			}
		</script>
	}
}
