@model Advert[]
@{
    ViewData["Title"] = "Всі oголошення";
}
<div class="d-flex justify-content-between my-2 ">
	<h3 class="mb-3">@(@Model.Count() == 0 ? "Немає оголошень" : $"Ми знайшли {@Model.Count()} оголошень")</h3>
	<div class="d-flex gap-2 ">
		<a asp-action="Index" asp-route-partial="_ShowAdvertsPartial" class="material-icons mb-3 btn btn-info">list</a>
		<a asp-action="Index" asp-route-partial="_ShowAdvertsDashboardPartial" class="material-icons mb-3 btn btn-info">dashboard</a>
	</div>
</div>

<partial name="@ViewBag.Partial" model="@Model" />

