@model AdvertModel

@{
    ViewData["Title"] = Model == null ? "Створення нового оголошення" : "Редагування оголошення";
}
<h3 class="mb-3">@ViewData["Title"]</h3>
<form class="row g-3" method="post" asp-action="Create" onsubmit="return validateImage();" enctype="multipart/form-data">
    <div class="col-md-6">
        <label asp-for=SellerName for="inputEmail4" class="fw-bold form-label">Імя продавця</label>
        <input asp-for=SellerName type="text" class="form-control" placeholder="Імя продавця">
        <span asp-validation-for=SellerName class="form-text text-danger"></span>
    </div>
    <div class="col-6">
        <label asp-for=Price class="fw-bold form-label">Ціна</label>
        <input asp-for=Price type="number" min="0" class="form-control">
        <span asp-validation-for=Price class="form-text text-danger"></span>
    </div>
   
    <div class="col-md-6">
        <label asp-for=CityId class="fw-bold form-label">Місто</label>
        <select  asp-for=CityId asp-items="ViewBag.Cities" class="form-select">
            <option selected disabled>Оберіть місто</option>
        </select>
        <span asp-validation-for=CityId class="form-text text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for=CategoryId class="fw-bold form-label">Категорія</label>
        <select  asp-for=CategoryId asp-items="ViewBag.Categories" class="form-select">
            <option selected disabled>Оберіть категорію</option>
        </select>
        <span asp-validation-for=CategoryId class="form-text text-danger"></span>
    </div>

    <div class="col-md-12">
        <label asp-for=Title  class="fw-bold form-label">Заголовок оголошення</label>
        <textarea asp-for=Title  class="form-control" rows="2" placeholder="Заголовок оголошення"></textarea>
        <span asp-validation-for=Title class="form-text text-danger"></span>
    </div>

    <div class="col-md-12">
        <label asp-for=Description class="fw-bold form-label">Опис товару</label>
        <textarea asp-for=Description class="form-control" rows="3" placeholder="Опис товару"></textarea>
        <span asp-validation-for=Description class="form-text text-danger"></span>
    </div>
    
    <div class="col-12">
        <label asp-for=ImageFiles class="fw-bold form-label">@(Model == null ? "Фото" : "Додати фото")</label>
        <input  data-val="false" id="imageFiles" asp-for=ImageFiles type="file" class="mb-3 form-control" multiple onchange="displayNames(this)" accept="image/png, image/jpeg , image/jpg , image/webp">
        <span id="imagesError" class="form-text text-danger"></span>
    </div>
   
    <div class="col-12">
        <div id="imageContainer" class="container w-auto">
            <div class="mt-3 border rounded row row-cols-auto w-auto">
                @if (Model != null)
                {
                    @foreach (var item in Model.ImagesUrls)
                    {
                        <div class="my-2" style="height:140px;width:200px;">
                            <img style="object-fit: cover;" src=@item class="h-100 w-100 rounded">
                            <a id=@item onclick="removeOldImage(event)" class="bottom-100  position-relative btn-sm btn btn-danger material-icons">close</a>
                        </div>
                    }
                    <input asp-for=Id type="number" value=@Model.Id  class="d-none form-control">
                }
            </div>
        </div>
    </div>
   
    <div class="col-12">
        <div class="form-check">
            <input asp-for=IsNew class="form-check-input" type="checkbox">
            <label asp-for=IsNew class="fw-bold  form-check-label">
                Нове
            </label>
        </div>
    </div>
    <div class="col-6">
        <button type="submit" class="w-100 btn btn-success">Зберегти</button>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="w-100 btn btn-secondary">Cкасувати</a>
    </div>
</form>

@section Scripts {
    @{
        <script src="~/js/user_add_advert_script.js"></script>
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}