<div class="position-fixed top-0 start-50 translate-middle-x translate-middle-x p-3" style="z-index: 111">
	<div data-bs-delay="2000" id="toast" class="toast text-white bg-success" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-body text-center"></div>
	</div>
</div>
